body {
    font-family: 'Pixelify Sans', sans-serif;
    text-align: center;
    margin: 50px;
    background-image: url('./icons/eggcellentBG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

#timer-display {
    font-size: 150px;
    color: #FFF759;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
}

.hitbox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pause-hitbox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cancel-hitbox{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}